h1 {
    color: blue;
    text-align: center;
}

h2 {
    text-align: center;
}

ol {
    text-align: center;
}

p {
    color: blue;
    text-align: center;
}

img.imgs {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    background-color: skyblue;
}

.vids {
    text-align: center
}